Week 4 Gutenburg Notebook

In [1]:
! conda env list

/bin/bash: conda: command not found

In [ ]:
#Scratch work 
import pandas as pd

,gutenberg_author_id,author,alias,birthdate,deathdate,wikipedia,aliases
0,1,United States,U.S.A.,NaN,NaN,https://en.wikipedia.org/wiki/United_States,U.S.A.
1,3,"Lincoln, Abraham",NaN,1809.0,1865.0,https://en.wikipedia.org/wiki/Abraham_Lincoln,"United States President (1861-1865)/Lincoln, Abe"
2,4,"Henry, Patrick",NaN,1736.0,1799.0,https://en.wikipedia.org/wiki/Patrick_Henry,NaN
3,5,"Adam, Paul",NaN,1849.0,1931.0,https://de.wikipedia.org/wiki/Paul_Adam_(Buchb...,NaN
4,7,"Carroll, Lewis","Dodgson, Charles Lutwidge",1832.0,1898.0,https://en.wikipedia.org/wiki/Lewis_Carroll,"Dodgson, Charles Lutwidge"

In [ ]:
#Read in the data 
data = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/main/data/2025/2025-06-03/gutenberg_authors.csv")

data.head()
data.info()

,gutenberg_author_id,author,alias,birthdate,deathdate,wikipedia,aliases
0,1,United States,U.S.A.,NaN,NaN,https://en.wikipedia.org/wiki/United_States,U.S.A.
1,3,"Lincoln, Abraham",NaN,1809.0,1865.0,https://en.wikipedia.org/wiki/Abraham_Lincoln,"United States President (1861-1865)/Lincoln, Abe"
2,4,"Henry, Patrick",NaN,1736.0,1799.0,https://en.wikipedia.org/wiki/Patrick_Henry,NaN
3,5,"Adam, Paul",NaN,1849.0,1931.0,https://de.wikipedia.org/wiki/Paul_Adam_(Buchb...,NaN
4,7,"Carroll, Lewis","Dodgson, Charles Lutwidge",1832.0,1898.0,https://en.wikipedia.org/wiki/Lewis_Carroll,"Dodgson, Charles Lutwidge"

In [9]:
#Start by removing the null values 
na_filter = data["alias"].notna()
na_filter.head()

clean_data = data[na_filter]

In [11]:
clean_data.head()
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8651 entries, 0 to 26065
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gutenberg_author_id  8651 non-null   int64
 1   author               8651 non-null   object
 2   alias                8651 non-null   object
 3   birthdate            7215 non-null   float64
 4   deathdate            6736 non-null   float64
 5   wikipedia            4902 non-null   object
 6   aliases              8651 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 540.7+ KB